body{
    background-color: wheat;
}
.app{
    text-align: center;
}

.input{
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.compareBtn{
    font-size: 40px;
    border-radius: 5px;
}

.massage {
    color: blue;
    font-size: 50px;
    font-style: italic;
}